
/*-----------------------------------------1) General--------------------------------------------------*/
@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.eot');
  src: url('../fonts/Glyphter?#iefix') format('embedded-opentype'), url('../fonts/Glyphter.woff') format('woff'), url('../fonts/Glyphter.ttf') format('truetype'), url('../fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  left: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}
body {
  color: #2f2f2f;
  font-size: 16px;
  background-color: #fff;
}
a {
  color: #2f2f2f;
  text-decoration: none;
  transition: ease .6s;
  -webkit-transition: ease .6s;
  -moz-transition: ease .6s;
  -o-transition: ease .6s;
  -ms-transition: ease .6s;
}
a:hover {
  text-decoration: none;
  color: #818181;
}
a:focus {
  outline: none;
  color: #999999;
  text-decoration: none;
}
iframe {
  border: none;
  width: 100%;
}
img { max-width: 100%; }
*:focus {
  outline: none;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*----------------------------------------- 2) Preloader --------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin: -40px 0 0 -100px;
}
#status img {
  text-align: center;
  margin-top: -80px;
}

/*----------------------------------------- 3) Helper --------------------------------------------------*/
.no-pad {padding: 0 !important; margin: 0 !important;}
.pad-80 {padding-top: 80px;}
.mar-t-50{margin-top: 50px !important;}
.mar-tm-10{ margin-top: -10px;}

.white-col{
  background: #ffffff;
  padding: none;
}

/*---- span -----*/
.title-small span { position: relative;}
.title-small span:after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 3px;
  background: #DEDEDE;
  width: 28px;
  left: 0;
}
.title-small-center span {position: relative;}
.title-small-center span:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 3px;
  background: #DEDEDE;
  width: 28px;
  left: 0;
}
/*----- background ------*/
.grey-bg {
  background: #f6f6f6;
  padding: 120px 0;
  display: block;
}
.white-bg {
  background: #ffffff;
  padding: 120px 0;
  display: block;
}
/*-------- content --------*/
.content-detail {
  font-weight: 400;
  margin-top: 70px;
  line-height: 30px;
  font-size: 14px;
  letter-spacing: 0.4px;
}
.content-details {
  font-weight: 400;
  margin-top: 40px;
  line-height: 30px;
  font-size: 14px;
}
.pad-bottom {
  padding-bottom: 80px;
}
.text-detail {
  margin-top: 30px;
  color: #5f5f5f;
}

.listing-item{
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
}
/*----- typed effect ---*/
.typed-cursor{ opacity: 0;}
/*---------- c. experience -----------*/
.card:before,
.card:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 3px;
  height: 100%;
  background: #818181;
  -webkit-transform: scaleY(0);
  transition: all 0.2s ease 0.2s;
}
.card:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 100%;
}
.card:after {
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
}
.card:hover:after,
.card:hover:before {
  -webkit-transform: scaleY(1);
}